@font-face {
  font-family: borderless;
  src: url(axis.bold.otf);
  font-weight: bold;
}
a {
  transition: 0.2s ease-in;
}
a:hover {
  text-decoration: none;
}
body {
  background: #0065b0;
  color: white;
  margin-top: 100px;
}
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: white;
  border-bottom: 1px solid white;
  z-index: 9;
}
header.blue {
  background: #0065b0;
}
header.blue svg.brand path,
header.blue svg.brand polygon {
  fill: white;
}
header.blue a {
  color: white;
  padding: 15px;
}
header.blue a:hover {
  color: #0065b0;
  background: white;
}
.header-left,
.header-right {
  display: inline-block;
  vertical-align: bottom;
}
.header-left {
  padding: 15px;
}
svg.brand {
  height: 72px;
}
.navbar,
ul {
  margin: 0;
}
.navbar ul {
  display: flex;
  justify-content: space-between;
  padding: 0;
}
.navbar ul li {
  display: inline-block;
}
.navbar a {
  display: block;
  padding: 15px;
  color: #0065b0;
  position: relative;
}
.navbar a:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 0px;
  left: 0;
  bottom: 0;
  background: #88CCC6;
  transition: all .5s;
}
.navbar a:hover {
  color: white;
  background: #0065b0;
}
.navbar a:hover:after {
  height: 5px;
}
.cta,
.jumbotron {
  text-align: center;
}
.jumbotron {
  background: #0065b0;
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  padding: 150px;
  margin: 0;
}
.jumbotron h1 {
  font-family: borderless;
  text-transform: uppercase;
}
.intro img {
  width: 100%;
  text-align: center;
}
.cta {
  padding: 40px;
  background: white;
}
.cta a {
  padding: 5px;
  background: #0065b0;
  color: white;
  border: 2px solid black;
}
.breakdown-col {
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.breakdown-col img {
  width: 250px;
  border-radius: 50%;
  height: 250px;
}
